html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar{
    border-bottom: 2px solid #98A6D4;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #44344F;
    color: #98A6D4;
}

h2, h4{
    color: #AFD5AA;
}

.footer {
    color: #98A6D4;
    border-top: 2px solid #98A6D4;
}

#navigation-bar{
    color: #98A6D4;
}

#navigation-bar-entry-one{
    color: #98A6D4;
}

#navigation-bar-entry-two {
    color: #98A6D4;
}

#navigation-bar-entry-three {
    color: #98A6D4;
}

.artist-image {
    height: auto;
    width: 300px;
    border-radius: 10%;
}

.album-image {
    height: auto;
    width: 300px;
    
}

.title-name {
 /*   for album title and artist name*/
    font-weight:bold;
    color:#AFD5AA;
    font-size:x-large;
}

.info-bio {
/*    for album info, artist bio, and genre list*/
    color:#AFD5AA;
    font-family:monospace;
}

.artist-website {
    color: #98A6D4;
}

.icon {
    color: #98A6D4;
    font-size: 45px;
}

.small-icon {
    color: #98A6D4;
    font-size: 15px;
    text-decoration: none;
}

.carousel-inner {
    height: 400px;
    width: auto;
}

.carousel-inner .item img {
    margin: auto;

}

.indexHeader {
    text-align:center;
}

img {
    width: 100%;
    height: auto;
}


